@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import 'blocks/login-form';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import 'blocks/variables';
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
}

.container {
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
}

.main {
    min-height: 630px;
    background: url('../img/backgroundImage.svg') no-repeat;
    background-color: #1a3037;
    padding: 39px 36px 0 38px;
    &__container {
        display: flex;
        justify-content: space-between;
    }
}

.logo {
    height: 34px;
    width: 150px;
}